{%extends "layout/base.html"%}
{%block content%}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'static/css/home/index.css' %}"/>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCR9YajUQLbgbyPuI5eIG7hzk0lCLyX5vA&libraries=places&sensor=false"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script src="{%static 'static/js/home/index.js' %}"></script>

<div class="row main" align="center">
    <div id="heading">
      <h1>PitchScraper</h1>
    </div>
    <div id="container" class="row">
      <h3>Find a game</h3>
      <div id="content" class="large-5 columns">
        <div class="row">
          <select id="findSport">
            <option value="" disabled selected>Choose a Sport</option>
              {% for sport in sports %}
              <option value="{{ sport.id }}">{{sport.name}}</option>
              {% endfor %}
          </select>
        </div>
        <div class="row">
          <div class="row collapse">
            <div class="small-10 columns">
              <input id="pac-input" class="controls" type="text" placeholder="Enter city"/>
                <input id="lat" type="hidden"/>
                <input id="lng" type="hidden"/>
             </div>
             <div class="small-2 columns">
              <a href="javascript:void(0);" class="button postfix">Go</a>
             </div>
          </div>
        </div>
      </div>
      <h3>Start a game</h3>
      <div id="content" class="large-5 columns">
          <div class="row">
                <select id="newGameSelect">
                  <option value="" disabled selected>Choose a Sport</option>
                  {% for sport in sports %}
                    <option value="{{ sport.id }}">{{sport.name}}</option>
                  {% endfor %}
                </select>
          </div>
          <div class="row">
            <button class="button success" onclick="call_create()">Start!</button>
          </div>
       </div>
   </div>
</div>
<script>
  function call_create(){
    var val = $("#newGameSelect").val();
    var link = '{% url "game.views.create" sport='VALSUB' %}';
    if(val === null){
      link = link.replace('VALSUB','new');
    }else{
      link = link.replace('VALSUB', val);
    }
    window.location.href=link;
  }
</script>
{%endblock content%}