{%extends "layout/base.html"%}
{%block content%}
{%load staticfiles%}
<link rel="stylesheet" href="{%static 'static/css/home/search.css' %}"/>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCR9YajUQLbgbyPuI5eIG7hzk0lCLyX5vA&libraries=places&sensor=false"></script>
<script src="{%static 'static/js/home/search.js'%}"></script>

<div class="content">
	<div class="row">
		<div class="large-12 medium-6 small-3 columns">
			<h1>Showing results for {{list.0.sport}}:</h1>
			<div class="row placeHolder">		
				<div class="large-6 medium-3 small-2 columns">
					<div>
                        <div id="map-canvas"></div>
					</div>
				</div>
				<div class="large-6 medium-3 small-2 columns places">
					
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function(){
		var markers = [];
		var distances = [];
		{%for game in list%}
		var point = {
			lat: {{game.latitude}},
			lng: {{game.longitude}}
		}
		markers.push(point)
		{%endfor%}
		
		{%for distance in distances%}
		distances.push({{distance}})
		{%endfor%}
		initialize(markers,{{lat}}, {{lng}}, distances);
	});
</script>
{%endblock content%}