{%extends "layout/base.html"%}
{%block content%}

{%if form.errors%}
	<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<div class="row">
	<div class="large-4 columns">
		<h2>Login</h2>
	</div>
</div>
	<form method="post" action=".">
		{% csrf_token %}
		{{form.as_p}}
		
		<input type="submit" class="button" value="Login"/>
		<input type="hidden" name="next" value="{{ next }}"/>
	</form>
	<p>Not registered? <a href="{% url 'registration_register' %}">Register Now!</a></p>
{% endblock %}