nav{
	overflow:hidden;
}

#content{
	margin-left: 75px;
	margin-top:25px;
	width:75%;
}

p{
	margin-top:-15px;
	margin-bottom:0px;
	font-family:Lobster;
}

h1{
	font-family:Lobster;
}

h3{
	font-family: Lobster;
}

h3:nth-of-type(1){
	margin-top:25px;
}

#container{
	background-color: rgba(250, 130, 7, 0.9);
	box-shadow: 0 0 10px 1px;
	border-radius: 10px;
	border: 1px solid black;
	width:600px;
}

.button.small{
	font-size: 12px;
}

.button.success{
	box-shadow: 0 0 5px 1px black;
}

.row.main{
	margin-top:45px;
}