.content{
	margin-left: 300px;
	background-color: rgba(250, 130, 7,0.9);
	width:700;
	box-shadow: 0 0 10px 1px;
	border:1px solid black;
	border-radius: 10px;
	margin-top:70px;
	padding-bottom:10px;
}

.large-12.columns{
	text-align: center;
}

.large-6.columns{
	text-align: center;
}

h1{
	font-family: Lato, sans-serif;
	font-weight: 700;
}

footer{
	margin-top:10em;
}

#map-canvas{
	height:300px;
	margin:0;
	padding:0;
}

#map-pin{
	width:22px;
	float:left;
	cursor:pointer;
}

#markerText{
	float:left;
	margin-left:6px;
	height: 40px;
    overflow: hidden;
    position: absolute;
	z-index:148;
	cursor:pointer;
}

#distInfo{
	float:left;
	margin-left: 5px;
}
