footer{
	clear:both;
	position:relative;
	height:1em;
	margin-top:4em;
	text-align:center;
	font-size:12px;
	font-weight: bold;
  color:black;
}

body{
  height:0px;
}

.top-bar{
	box-shadow: 0 0 10px 1px;
}

.top-bar .name h1 a{
	color: rgba(250, 130, 7,1.0);
}

.top-bar .name h1 a:hover{
	color: white;
}

h1{
	font-family:Lobster;
}

h3{
	font-family: Lobster;
}

img.bg {
  /* Set rules to fill background */
  min-height: 75%;
  min-width: 1024px;
  margin-bottom:10px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	z-index: -1;
  clear:both;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  
  opacity:0.65;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}